h1{
    text-align:center
}
#mainContainer{
    display:inline-block
}
.card{
    height:450px;
    background-color:#cb8774;
    width:21%;
    float: left;
    margin-left:3%;
    overflow: scroll;
    color:white
}
.bluegray{
    background-color:#9cb4c0;
    color:black
}
#subHeading{
    text-align:left
}
.card > img {
    height:200px;
    width:100%
}
.card h2{
    text-align:center
}
#brown{
    background:#847767
}
.blue{
    background:#3676a2
}