#first{
    background-color: skyblue;
    height:200px
}
#second{
    background-color: rgb(205, 167, 248);
    height:200px
}
#third{
    background-color: rgb(188, 246, 176);
    height:200px
}
#fourth{
    background-color: rgb(246, 202, 176);
    height:200px
}
#fifth{
    background-color: rgb(187, 183, 181);
    height:200px
}
#sixth{
    background-color: rgb(239, 146, 186);
    height:200px
}
#seventh{
    background-color: rgb(170, 241, 230);
    height:200px
}